<%-include("partials/header");-%>

<h1>Datos de la mascota</h1>
<div class="card-pet">
    <div class="cuadroReciboSueldo" >
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                
                <th scope="col">Historia clinica</th>
                <th scope="col"><%=nombre %></th>
                
              </tr>
            </thead>
            <tbody>
            

              <tr class="row-descuentos">
                
                <td>Legajo</td>
                <td class="centrar"><%=legajo %></td>
                
              </tr>
                 
              <tr class="row-descuentos">
                
                <td>Peso:</td>
                <td class="centrar"><%=peso %></td>
                
              </tr>

              <tr class="row-descuentos">
                
                <td>Tipo mascota</td>
                <td class="centrar"><%=tipoM %></td>
                
              </tr>

              <tr class="row-descuentos">
                
                <td>Fecha Nacimiento</td>
                <td class="centrar"><%=nacimiento%></td>
                
              </tr>

              <tr class="row-descuentos">
                
                <td>Edad</td>
                <td class="centrar"><%=edad%></td>
                
              </tr>

              


              



              
            </tbody>
          </table>

       

       

</div>






<%-include("partials/footer");-%>